*{
  border: border-box;
  padding: 0px;
  margin: 0px;
}


nav{
    position: sticky;
    top: 0;
    background-color: white;
    text-align: center;
    
}

nav a{
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-left : 2px;
    text-decoration: none;
    color: rgb(95, 85, 85);
    font-weight: 900;
    font-size: 23px;
    transition: font-size 0.2s;
}
a:hover{
    border-bottom: 2px solid rgb(95, 85, 85);
    font-size: 27px;
}
header {
    font-family: 'Tangerine', serif;
    font-size: 130px;
    text-align: center;
    text-shadow: 4px 6px 10px;

  }
  .para{
    margin: 50px;
    background-color: white;
    padding: 10px;
    border: 7px solid grey;
    box-shadow: -27px -23px grey;
    border-radius: 7px;
    width: 500px;
    transition: all .3s .5s;
  }
  .main{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
    justify-items: center;
  }

  .para:hover{
    transform: scale(1.4);
  }