*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 10%;
    background-image: url(images/aboutBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 10px black;
}
.header{
    font-family: 'Tangerine', serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.nav{
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid rgb(100, 98, 98);
    border-bottom: 2px solid rgb(100, 98, 98);
    font-size: 13px;
    padding: 5px;
}
.nav h2{
    font-weight: 200;
    color: rgb(102, 100, 100);
}
.profile{
    display: flex;
}
.image{
    padding: 20px;
    align-self: center;
    justify-self: center;
}
.image img{
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    border: 5px solid rgb(232, 170, 94);
}
.desc{
    padding: 20px;
    align-self: center;
    text-align: right;
    border-right: 2px dashed grey;
}
.connect{
    border: 2px solid black;
}
.connect h2{
    text-align: center;
    border-bottom: 2px solid black ;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 100;
    font-size: 20px;
}
.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.links a{
    padding: 10px;
    text-decoration: none;
    color: rgb(232, 170, 94);
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@media(min-width:1000px){
    body{
        padding: 2.5% 30%;
    }
}
@media(max-width:600px){
    .profile{
        flex-direction: column-reverse;
    }
    .desc{
        border: none;
        text-align: center;
        padding-top: 0px;
    }
}
