
nav{
    position: sticky;
    top: 0;
    background-color: white;
}

nav,a{
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-left : 2px;
    text-decoration: none;
    color: rgb(95, 85, 85);
    font-weight: 900;
    font-size: 23px;
}
a:hover{
    border-bottom: 2px solid rgb(95, 85, 85);
}
header {
    font-family: 'Tangerine', serif;
    font-size: 130px;
    text-align: center;
    text-shadow: 4px 6px 10px;

  }
  .para{
    margin: 50px;
    padding: 10px;
    border: 7px solid grey;
    box-shadow: -27px -23px grey;
    border-radius: 7px;
    width: 500px;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
